.board-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fallen-figures{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .fallen-figures img{
    width: 20px;
    height: 20px;
}

.player-info{
    padding: 7px;
    width: 480px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.player-info img{
    width: 50px;
    height: 50px;
}

.info{
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    align-self: flex-start;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
    font-weight: 700;
    align-self: flex-start;
    margin: 0;
}

.player-info__left-side{
    display: flex;
}

.game-session{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

.change-log{
    min-width: 550px;
    height: 95%;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}