.dark, .light{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
}

.dark{
    background-color: #ca8745;
}

.light{
    background-color: #f7c899;
}