.board_figure {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  z-index: 2;
  position: relative;

  img {
    position: relative;
    right: 1px;
    z-index: 1;
  }
}

.board_figure:disabled {
  cursor: inherit;
}

.check {
  background-color: brown;
}
